einops==0.8.0
matplotlib==3.7.2
numpy==1.25.1
omegaconf==2.3.0
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.8.0.74
pandas==2.0.3
Pillow
scikit_learn==1.3.0
scipy==1.13.0
smplx==0.1.28
spacy==3.3.3
tqdm==4.65.0
transformers==4.35.2
translate==3.6.1
scipy
omegaconf
spacy
rich
matplotlib
einops
torchmetrics
smplx
sentence-transformers==2.2.2
